@import 'normal-reset';
@import 'alias-mixins';
.box-links-menu {
    position: fixed;
    z-index: 99;
    top: 4vh;
    left: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
        a {
            margin: 15px;
        font-family: sans-serif;
        color: #ffffff;
    }
}

.box-dev {
    position: fixed;
    bottom: 4vw;
    right: 4vh;
    color: #fff;
    font-family: sans-serif;
    img {
        width: 200px;
    }
}