@import 'normal-reset';
@import 'alias-mixins';
$color: rgb(0, 70, 64);

.body {
    @include flex-center;
    background: #000;
    width: 100vw;
    height: 100vh;
}

h1 {
    color: #ffffff;
    font-size: 46px;
    @include sans;   
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.2;
    background: url(http://unsplash.it/1093) center no-repeat / cover;
    height: 100vh;
    width: 100vw;
}
#div-test {
    position: fixed;
    left: 0vh;
    top: 0vh;
    width: 100vw;
    height: 100vh;
}