@import 'normal-reset';
@import 'alias-mixins';

$color: #123;

.body {
    @include flex-center;
    background: $color;
    width: 100vw;
    height: 100vh;
}

h1 {
    color: #ffffff;
    font-size: 46px;
    @include sans;   
}